<div id="marketDetailsView">
    <h2>{{marketName}}</h2>
    <!-- address -->
    <div class="paragraph">
        <!-- map location --->
        {{#y}}
        Lat: {{y}}<br/> Lng: {{x}}<br/><br/>
        <a class="button" href="javascript:viewInMap({{index}})">View in Map</a>
        <a class="button" href="javascript:getDirections({{index}})">Get Directions</a>
        <!-- <a href="http://maps.google.com/maps?q={{y}},{{x}}" target="_blank">{{y}},{{x}}</a> -->
        {{/y}}
    </div>
 </div>